.features {
	margin-top: 8.125rem;
	// margin-bottom: 6rem;
	max-width: 25rem;
	margin: 8.125rem auto 0;

	@include breakpoint-up(medium) {
		max-width: 37.5rem;
	}
	@include breakpoint-up(large) {
		max-width: 74rem;
	}

	&__text {
		color: $veryDarkBlue;
		text-align: center;

		@include breakpoint-up(large) {
			max-width: 34.375rem;
			margin: 0 auto;
		}
		& h2 {
			font-size: $fontHead2;
			@include breakpoint-up(large) {
				font-size: $fontHead2Desk;
			}
		}

		& p {
			font-size: $fontSmall;
			color: $grayishBlue;
			line-height: 1.375rem;
			margin-bottom: 2.5rem;

			@include breakpoint-up(large) {
				font-size: $fontPDesk;
				line-height: 1.625rem;
			}
		}
	}

	&__btnMenu {
		text-align: center;
		overflow: hidden;
		margin-bottom: 3.75rem;
		margin: 0 auto 3.75rem;
	}

	&__btnMenu button.active::after {
		opacity: 1;
	}

	// bullet shaped svg img
	&__image {
		position: relative;
		background: url(/images/illustration-features-tab-1.svg) no-repeat center;
		background-size: contain;
		min-height: 12.5rem;
		// min-width: 17rem;
		// z-index: 54;
		margin-bottom: 5rem;

		@include breakpoint-up(medium) {
			min-width: 15rem;
			min-height: 14.5rem;
			margin: 0;
		}
		@include breakpoint-up(large) {
			height: 21.875rem;
			width: 100%;
		}
	}
	.Two {
		background: url(/images/illustration-features-tab-2.svg) no-repeat center;
		background-size: contain;
	}
	.Three {
		background: url(/images/illustration-features-tab-3.svg) no-repeat center;
		background-size: contain;
	}
	&__image::before {
		content: "";
		position: absolute;
		top: 25%;
		left: 0;
		background: $softBlue;
		width: 75%;
		height: 11.875rem;
		border-radius: 0 30% 30% 0;
		z-index: -1;

		@include breakpoint-up(smallest) {
			width: 18.75rem;
		}

		@include breakpoint-up(medium) {
			visibility: hidden;
		}
		@include breakpoint-up(large) {
			visibility: visible;
			top: 25%;
			left: -7.8125rem;
			background: hsl(231deg, 69%, 60%);
			width: 90%;
			height: 21.875rem;
			border-radius: 0 30% 30% 0;
			z-index: -1;
		}
	}
	&__tabBtn {
		// display: block;
		position: relative;
		background-color: transparent;
		width: 100%;
		padding: 1.25rem 2.0625rem;
		border-radius: 0;
		font-size: 1rem;
		color: $veryDarkBlue;
		text-transform: none;
		font-weight: 500;
		letter-spacing: 0.0313rem;
		opacity: 0.8;
		font-family: "Rubik", sans-serif;

		@include breakpoint-up(medium) {
			width: fit-content;
			padding: 1.875rem 0.9375rem;
			border: solid 0px transparent;
		}

		@include breakpoint-up(large) {
			padding: 1.25rem 2.5rem;

			&:hover {
				color: $softRed;
			}
		}
		&:nth-child(1) {
			border-top: 1px solid $grayishBlue;
			@include breakpoint-up(medium) {
				border-top: none;
			}
		}
		&:nth-child(1),
		&:nth-child(2),
		&:nth-child(3) {
			border-bottom: 1px solid $grayishBlue;
		}

		&::after {
			content: "";
			position: absolute;
			width: 50%;
			height: 4px;
			margin-left: auto;
			margin-right: auto;
			left: 0;
			right: 0;
			bottom: 0;
			text-align: center;
			background-color: $softRed;
			transition: all 0.15s linear;
			opacity: 0;

			@include breakpoint-up(medium) {
				width: 100%;
			}
			@include breakpoint-up(large) {
			}
		}

		&:hover::after {
			opacity: 1;
			@include breakpoint-up(large) {
				opacity: 0;
			}
		}
	}
	.tabs {
		display: none;
		animation: fadeEffect 0.5s;
		flex-direction: column;

		@include breakpoint-up(medium) {
			flex-direction: row;
			align-items: center;
			padding: 0 0 0 1.75rem;
		}
		@include breakpoint-up(large) {
			justify-content: center;
		}
	}

	.tabs .features__text {
		margin: 0;

		@include breakpoint-up(large) {
			h2 {
				font-size: $fontHead2Desk;
			}
			p {
				font-size: $fontPDesk;
				line-height: 1.625rem;
			}
			button {
				background-color: $softBlue;
				text-transform: none;
				letter-spacing: normal;
				text-align: center;
				font-family: "Rubik", sans-serif;
            padding: .875rem 1.5625rem;
				// margin: 2.5rem auto;
			}
			text-align: left;
			padding-left: 6.25rem;
		}
	}
	// &__tabOne {
	//    flex:1 ;
	// }
	// &__tabTwo {
	// }
	// &__tabThree {
	// }
}
