.footer {
	font-family: "Rubik", sans-serif;
	
	// upper footer
	.lightBlue {
		background-color: $softBlue;
		padding-top: 4.0625rem;
		padding-bottom: 3.4375rem;
      
	}
	& h2,
	p {
		text-align: center;
		color: $grayish;
		font-weight: 500;
	}

	& p {
		margin: 0 0 0.9375rem;
		font-size: 0.75rem;
		text-transform: uppercase;
		letter-spacing: 3px;
		font-weight: 400;
	}

	& h2 {
		margin: 0 0 1.875rem;
	}
	.inputBtn {
		flex-direction: column;
      max-width: 25rem;
      margin: 0 auto;
	}
	& input,
	button {
		border: none;
		padding: 0.875rem 2.0625rem;
		width: 100%;
		border-radius: 5px;
	}

	&__cta {
		background-color: $softRed;
		text-transform: none !important;
		letter-spacing: normal !important;
		text-align: center;
		font-family: "Rubik", sans-serif;
	}

	& input {
		margin: 0 0 0.8125rem;
		padding: 0.75rem 1.125rem;
	}

	::placeholder {
		opacity: 0.2;
		font-family: "Rubik", sans-serif;
	}

	// lower footer
	.darkBlue {
		background-color: $veryDarkBlue;
		padding-top: 2.1875rem;
		padding-bottom: 2.1875rem;
		text-align: center;
	}

	&__innerCont {
		flex-direction: column;
	}

	&__links {
		padding: 2.1875rem 0 2.5rem;
	}

	&__links a {
		display: flex;
		flex-direction: column;
		color: $grayishBlue;
		text-transform: uppercase;
		font-weight: 500;
		letter-spacing: 1.5px;
		font-size: $fontSmall;

		&:not(:last-child) {
			margin-bottom: 1.875rem;
		}

		&:hover {
			color: $grayish;
		}
	}

	&__social a {
		&:not(:last-child) {
			margin-right: 2.1875rem;
		}
	}
}
