// - Mobile: 375px
// - Desktop: 1440px

// ## Colors
// ### Primary

$softBlue: hsl(231, 69%, 60%);
$softRed: hsl(0, 94%, 66%);

// ### Neutral

$grayishBlue: hsl(229, 8%, 60%);
$grayish: hsl(0, 0%, 96%);
$veryDarkBlue: hsl(229, 31%, 21%);

// ## Typography

$fontSmall: .875rem;
$fontMed: .9375rem;
$fontHead2:1.25rem;
$fontHead2Desk : 1.75rem;
$fontPDesk: 1rem;

// ### Fonts

// - Family: [Rubik](https://fonts.google.com/specimen/Rubik)
// - Weights: 400, 500